<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1> About Us</h1><p></p>
<h3> Meet Our Team: </h3> <p></p> <br>

<bold><h3>J E S S I C A:</h3></bold>
<div class="row">
    <div class="col-5 mx-6 my-6 border border-5">
        <h1 class="display-5 text-center">Fun Fact!</h1><p></p>
        <h5>I am extremely afraid of <bold>ALL</bold> animals but I think they are cute from a far</h5>
        <p></p>
            <img src="/static/animal.jpg" class="rounded float-end" width = "500" hieght= "300" alt="..."> 
         </div>
</div>

 <p></p><em>" I always had interest in the healthcare system and the impacts it has on those who are more disadvantaged. The idea that our website or app could help others figure out which hospitals  cater to their needs better than others is what will keep me motivated, so these groups could potentially have more positive experiences during their visits."</em>
<p></p> <br><br>

<bold><h3> H A M I</h3></bold>






{% endblock %}