{% extends 'base.html' %}

{% block body %}

<!-- {% if blog %}
    {{moment(healthtip.create_date).calendar()}} by {{healthtip.author.fname}} {{healthtip.author.lname}} 
    {% if healthtip.modifydate %}
        modified {{moment(healthtip.modifydate).calendar()}}
    {% endif %} -->
    <br>
    {% if healthtip.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Health Tip" href="/healthtip/delete/{{healthtip.id}}">
            <img width="30" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Health Tip" href="/healthtip/edit/{{healthtip.id}}">
            <img width="30" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}
    <h1 class="display-5">{{healthtip.category}}</h1>
    <p class="fs-3 text-break">
        {% if healthtip.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(healthtip.sleeper.image.read())}}">
        {% endif %}
            Strategy: {{healthtip.strategy}} <br>
            Rating: {{healthtip.rating}} <br>
{% else %}
    No Health Tip Here
{% endif %}

{% endblock %}