{% extends "base.html" %}

{% block body %}
        <h1>Provide A Health Tip!</h1>


        <form method=post>
            {{ form.hidden_tag() }}
            
            <p>
            {{ form.category.label }} <br>
            {{ form.category(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.category.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p>
            {{ form.strategy.label }} <br>
            {{ form.strategy (cols=64, rows=10) }}
                <!--List the errors for this field-->
            {% for error in form.strategy.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>

            <p>
            {{ form.rating.label }} <br>
            {{ form.rating(size=64) }}
                    <!--List the errors for this field-->
            {% for error in form.rating.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            </p>
            
            {{form.submit()}}
        </form>
        
{% endblock %}

<!-- 
category = form.category.data,
strategy = form.strategy.data,
rating = form.rating.data,
author = current_user.id, -->